In [48]:
import pandas as pd

df = pd.read_csv('../Original Data/billboard.csv')
df

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
to_be_melted = list(df.columns[7:])
melted = df.melt(id_vars = ['artist.inverted', 'track', 'date.entered'], var_name = 'week', value_vars = to_be_melted, value_name = 'place')
melted

,artist.inverted,track,date.entered,week,place
0,Destiny's Child,Independent Women Part I,2000-09-23,x1st.week,78.0
1,Santana,"Maria, Maria",2000-02-12,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,1999-10-23,x1st.week,71.0
3,Madonna,Music,2000-08-12,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),2000-08-05,x1st.week,57.0
...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,2000-10-28,x76th.week,NaN

In [78]:
melted.dropna(axis=0, inplace=True)
melted

,artist.inverted,track,date.entered,week,place
0,Destiny's Child,Independent Women Part I,2000-09-23,x1st.week,78.0
1,Santana,"Maria, Maria",2000-02-12,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,1999-10-23,x1st.week,71.0
3,Madonna,Music,2000-08-12,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),2000-08-05,x1st.week,57.0
...,...,...,...,...,...
19663,Lonestar,Amazed,1999-06-05,x63rd.week,45.0
19700,Creed,Higher,1999-09-11,x63rd.week,50.0
19980,Lonestar,Amazed,1999-06-05,x64th.week,50.0
20017,Creed,Higher,1999-09-11,x64th.week,50.0
20334,Creed,Higher,1999-09-11,x65th.week,49.0

In [81]:
melted.sort_values(['artist.inverted', 'date.entered', 'week'], inplace=True)
melted.reset_index(drop=True, inplace=True)
melted

,artist.inverted,track,date.entered,week,place
0,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-02-26,x1st.week,87.0
1,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-02-26,x2nd.week,82.0
2,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-02-26,x3rd.week,72.0
3,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-02-26,x4th.week,77.0
4,2 Pac,Baby Don't Cry (Keep Ya Head Up II),2000-02-26,x5th.week,87.0
...,...,...,...,...,...
5302,matchbox twenty,Bent,2000-04-29,x5th.week,22.0
5303,matchbox twenty,Bent,2000-04-29,x6th.week,21.0
5304,matchbox twenty,Bent,2000-04-29,x7th.week,18.0
5305,matchbox twenty,Bent,2000-04-29,x8th.week,16.0
5306,matchbox twenty,Bent,2000-04-29,x9th.week,13.0